body{
    margin: 0;
    padding: 0;
    background: white;
    height: 100vh;
    font-family: 'Lobster', cursive;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
/* @import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap'); */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}